body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    /* background-image: url('https://i.imgur.com/jOMoTog.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    }

.bg-light {
        background-color: #1b1919bf!important;
}

.navbar-light .navbar-brand  {
    color: #ff97a8;
    font-size: 30px;
    font-weight: bold;
    margin-right: 8rem;
    margin-left: 2rem;
}

.navbar-light .navbar-nav .nav-link {
   color: white;
   font-size: 20px;
   padding-right: 2rem;
}

img {
    border-radius: 25px;
}

.card-group{
    margin: auto;
    width: 80%;
    padding-top: 5rem;
}

.card{
    margin-right: 1rem;
    border-radius: 12px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.card-header{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    background-color: #badff5;
    border-bottom: 3px solid rgba(0,0,0,.125);
    border-radius: 12px;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;

}